[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "vectorwavelet"]
	path = vectorwavelet
	url = https://github.com/toygur/vectorwavelet
	shallow = true
	registered = true
